
@import "../utils/variable.scss";
@import "../utils/mixin.scss";
@import "../utils/global.scss";

@import "../components/header.scss";
@import "../components/footer.scss";


main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

        .jumbotron {
            height: fit-content;
            background: url(../../assets/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
            background-size: cover;
            background-position: center;

            .overlay {
                width: auto;
                height: 100%;
                padding: 1rem 1rem 2rem 1rem;
                display: flex;
                background-color: rgba(26, 26, 26, 0.5019607843);
                align-items: center;
                gap: 1rem;
                justify-content: space-around;
                min-height: 65vh;

                .jumbotron-intro {
                    background-color: rgba(246, 246, 246, 0.75);
                    border-radius: 1rem;
                    flex: 1;
                    max-width: 25rem;
                    padding: 1rem 2rem 3rem 2rem;
                    text-align: center;

                    h3 {
                        padding: 1rem 3rem;
                    }

                    p {
                        margin-top: 0;
                        margin-bottom: 1.75rem;
                    }

                    .button-container {
                        display: flex;
                        justify-content: center;

                        a {
                            padding: 1rem;
                            background: linear-gradient(170deg, #FF79DA, #9356DC);
                            border-radius: 2rem;
                            border: unset;
                            color: #ffffff;
                            padding: 1rem 1.25rem;
                            box-shadow: 0px 2px 5px 0px rgba(5, 5, 5, 0.25);
                            cursor: pointer;
                            font-weight: 600;
                            width: fit-content;
                            text-decoration: none;
                            transition: all ease-in-out 0.25s;

                            &:hover {
                                filter: brightness(1.1);
                                box-shadow: 0px 2px 5px 0px rgba(5, 5, 5, 0.492);
                            }
                        }
                    }
                }

                #functioning {
                    flex: 1;
                    padding: 2rem 1rem 2rem 1rem;
                    background-color: rgba(246, 246, 246, 0.75);
                    border-radius: 1rem;
                    max-width: 25rem;

                    h3 {
                        text-align: center;
                    }

                    .functioning-content{
                        width: 100%;
                        gap: 1rem;
                        display: flex;
                        flex-direction: column;
                    }

                    .functioning-content .functioning-card {
                        background-color: #f6f6f6;
                        padding: 1.5rem 2rem;
                        border-radius: 1.25rem;
                        position: relative;
                        margin-left: 0.625rem;
                        box-shadow: 0px 3px 13px 0px rgba(5, 5, 5, 0.25);

                        i {
                            opacity: 50%;
                        }

                        &:hover {
                            background-color: $c-light-pink;
                            cursor: pointer;

                        i {
                            color: $primary;
                            opacity: 50%;
                        }
                    }
                        .functioning-card-text {
                            padding-left: 1.5rem;
                            margin: 0;
                            font-weight: 600;
                        }

                        .functioning-card-content {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 1;
                            font-size: 0.75rem;
                            color: #ffffff;

                            &:after {
                                content: "";
                                position: absolute;
                                width: 1.25rem;
                                height: 1.25rem;
                                background-color: #9356DC;
                                border-radius: 50%;
                                transform: translate(-40%, -50%);
                                top: 50%;
                                left: 0;
                                z-index: -1;
                            }
                        }
                    }
                }

                .jumbotron .overlay #functioning h3, .jumbotron .overlay #functioning .functioning-content {
                    width: 100%;
                    gap: 1rem;
                }
            }
        }


        #store {
            padding: 2rem 5rem 3rem 5rem;
            background-color: #f6f6f6;

            .store-content {
                flex-direction: row;
                flex-wrap: wrap;

                .card {
                    border-radius: 1rem;
                    box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.2);
                    flex: 20%;
                    transition: all ease 0.2s;

                    &:hover {
                        box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.633);
                    }

                &:nth-child(1) {
                        position: relative;
                    }

                    &:nth-child(1)::after {
                        content: "Nouveau";
                        background-color: #99E2D0;
                        position: absolute;
                        right: 1rem;
                        top: 1rem;
                        font-size: 0.75rem;
                        text-align: center;
                        padding: 0.35rem 0.75rem;
                        font-weight: 900;
                        border-radius: 0.15rem;
                        color: #278870;
                    }

                    &:nth-child(2) {
                        position: relative;
                    }

                    &:nth-child(2)::after {
                        content: "Nouveau";
                        background-color: #99E2D0;
                        position: absolute;
                        right: 1rem;
                        top: 1rem;
                        font-size: 0.75rem;
                        text-align: center;
                        padding: 0.35rem 0.75rem;
                        font-weight: 900;
                        border-radius: 0.15rem;
                        color: #278870;
                    }


                    img {
                        width: 100%;
                        max-height: 10rem;
                        border-radius: 1rem 1rem 0 0;
                        object-fit: cover;
                        object-position: center;
                    }

                    .card-body {
                        justify-content: space-between;
                        align-items: center;
                        padding: 1rem;

                        i {
                            font-size: 1.25rem;
                            @include heartHover();

                            &:hover{
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }

                        p{
                            margin: 0;
                        }
                    }
                }
            }
        }
        
}



@media only screen and (max-width: 500px) and (min-width: 10px)  {

    main #store {
        padding: 1rem;
        background-color: #f6f6f6;
    }

    main #store .store-content {
        flex-direction: column;
    }


    main .jumbotron {
        background: none;

        .overlay {
            padding: 0rem!important;
            min-height: auto;
            flex-direction: column;
            gap: 0;

            .jumbotron-intro {
                background-color: #f6f6f6!important;
                padding: 1rem 2rem 3rem 2rem;
                border-radius: 0rem!important;

                h3 {
                    padding: 1rem 3rem 0.2rem 3rem;
                    font-weight: 900;
                    color: #000000;
                }
            }

            #functioning {
                padding: 2rem 0rem 2rem 2.5rem!important;
                background-color: rgb(255, 255, 255);
                border-radius: 0rem!important;
                width: 100%;

                .functioning-content {
                    width: 93%;
                }

                h3{
                    padding-bottom: 1.5rem;
                    padding-top: 1rem;
                    text-align: start;
                    font-weight: 900;
                    margin: 0;
                    color: #000000;
                }
            }
        }
    }
}