.hidden-link {
  color: unset;
  text-decoration: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.g-3 {
  gap: 1.5rem;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h4 {
  font-weight: 900;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #000000;
}
