.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-container img {
  height: 17rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-container .menu {
  padding: 2rem .85rem 1.5rem .85rem;
  border-radius: 2rem 2rem 0 0;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.menu-container .menu .menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}

.menu-container .menu .menu-header h2 {
  font-weight: unset;
}

.menu-container .menu .menu-header i {
  font-size: 1.5rem;
  margin-right: 1.75rem;
}

.menu-container .menu .menu-content {
  margin-bottom: 2rem;
}

.menu-container .menu .menu-content h4 {
  color: inherit;
  font-weight: unset;
  margin-bottom: .85rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding-bottom: 0.5rem;
}

.menu-container .menu .menu-content h4:after {
  content: "";
  border-bottom: 3px solid;
  width: 3rem;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menu-container .menu .menu-content .menu-content-cards .menu-content-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1.25rem;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  -webkit-animation: menu-card 1s forwards;
          animation: menu-card 1s forwards;
  opacity: 0;
  overflow: hidden;
}

.menu-container .menu .menu-content .menu-content-cards .menu-content-card .menu-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  padding: .75rem 0 .75rem .75rem;
}

.menu-container .menu .menu-content .menu-content-cards .menu-content-card .menu-card-body p {
  margin: 0;
}

.menu-container .menu .menu-content .menu-content-cards .menu-content-card .menu-card-body .menu-card-title {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 0.35rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu-container .menu .menu-content .menu-content-cards .menu-content-card .menu-card-body .menu-card-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
  font-size: .9rem;
}

.menu-container .menu .menu-content .menu-content-cards .menu-content-card .menu-card-price {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 900;
  padding: .75rem 1.5rem .75rem 0;
}

@-webkit-keyframes menu-card {
  from {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  to {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes menu-card {
  from {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  to {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.menu-container .menu .menu-content .menu-content-cards .menu-content-card:hover .menu-check {
  width: 4rem;
}

.menu-container .menu .menu-content .menu-content-cards .menu-content-card:hover .menu-check i {
  -webkit-animation: check-in 1s forwards;
          animation: check-in 1s forwards;
}

.menu-container .menu .menu-content .menu-content-cards .menu-content-card .menu-check {
  border-radius: 0 1.25rem 1.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 0;
  -webkit-transition: width .7s ease;
  transition: width .7s ease;
  overflow: hidden;
}

.menu-container .menu .menu-content .menu-content-cards .menu-content-card .menu-check i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 0;
  -webkit-animation: check-out .8s;
          animation: check-out .8s;
}

.menu-container .menu .menu-content .menu-content-cards .menu-content-card .menu-check i::before {
  padding: 0.25rem;
  border-radius: 50%;
}

@-webkit-keyframes check-in {
  from {
    opacity: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    opacity: 100%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes check-in {
  from {
    opacity: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    opacity: 100%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes check-out {
  from {
    opacity: 100%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    opacity: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes check-out {
  from {
    opacity: 100%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    opacity: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.menu-container .menu .button-container {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

.menu-container .menu .button-container .menu-button {
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  padding: 1rem 3rem;
}

@media screen and (min-width: 768px) {
  .menu-container {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .menu-container img {
    height: 27rem;
  }
  .menu-container .menu {
    width: 100%;
    -ms-flex-item-align: center;
        align-self: center;
    padding: 3rem 0 4rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu-container .menu .menu-header {
    margin: 0 0 1rem .5rem;
  }
  .menu-container .menu .menu-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-container .menu .menu-content-container .menu-content {
    -webkit-box-flex: 33%;
        -ms-flex: 33%;
            flex: 33%;
    overflow: hidden;
    padding: .5rem .5rem 1rem .5rem;
    margin: 0;
  }
  .menu-container .menu .menu-content-container .menu-content h4 {
    margin-bottom: 1.5rem;
  }
  .menu-container .menu .menu-content-container .menu-content .menu-content-cards {
    gap: 1rem;
  }
  .menu-container .menu .menu-content-container .menu-content .menu-content-cards .menu-content-card {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 1200px) {
  .menu-container .menu {
    width: 95%;
    padding: 3rem 1rem 4rem 1rem;
    -webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.15);
    border-radius: 2rem;
  }
}
